.newsContainer{
    margin-top: -50px;
}
.newsDate{
    margin-bottom: -3px;
    color: tomato;
    font-weight: bold;
    font-size: 18px;
}
.eventRecords{
    float: left;
}
.smallSize{
    font-size: 12px;
}
.disable-link {
    color:black;
    
  }
.disable-link:hover{
    text-decoration: none;
}
.inlineStart{
    display: inline-block;
    float: left;
}
.dailyNews{
    margin-top: -20px;
}